# Compatible versions - mkdocs-material 9.5.x requires mkdocs 1.6.x
mkdocs==1.6.1
mkdocs-material==9.5.31
mkdocs-include-markdown-plugin==6.0.6
mkdocs-awesome-pages-plugin==2.10.0
mkdocs-autorefs==1.0.1
mkdocs-redirects==1.2.1
pymdown-extensions==10.5